<body><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
       
        <div class="innerbannerwrap">
            <div class="content"></div>
            <div class="innerbanner" style="filter: blur(25.0833px);"><h2 class="bannerHeadline">our <span>shop</span></h2></div>
        </div>
        <section class="innerpage_all_wrap">
            <div class="container">
                <div class="row"><h2 class="heading">best soccer <span>accessories shop</span></h2>
    

                    <div class="innerWrapper">
                        <aside class="widgetinner clearfix">
                            <div class="widgetinfowrap">
                                <div class="bg-blackimg">short by</div>
                                <ul class="widgetinfo info01">
                                    <li>clothing</li>
                                    <li>accesories</li>
                                    <li>bags</li>
                                    <li>shoes</li>
                                    <li>fashion</li>
                                </ul>
                                <a href="#" class="blacklrnmore">learn more</a></div>
                            <div class="widgetinfowrap">
                                <div class="bg-blackimg">manufacturer</div>
                                <ul class="widgetinfo info01">
                                    <li>clothing</li>
                                    <li>accesories</li>
                                    <li>bags</li>
                                    <li>shoes</li>
                                    <li>fashion</li>
                                </ul>
                                <a href="#" class="blacklrnmore">learn more</a></div>
                            <div class="widgetinfowrap">
                                <div class="bg-blackimg">colour</div>
                                <div class="sizepic"><a href="#" class="bg-bluecolor"></a> <a href="#" class="bg-redcolor"></a> <a href="#" class="bg-green"></a> <a href="#" class="bg-lblack01"></a></div>
                            </div>
                            <div class="widgetinfowrap">
                                <div class="bg-blackimg">natinal football teams</div>
                                <div class="sizepic"><a href="#">XS</a> <a href="#">S</a> <a href="#">M</a> <a href="#">L</a></div>
                            </div>
                        </aside>
                        <aside class="contentinner">
                            <div class="bg-red shop_select clearfix">
                                <div class="select_shopping">
                                    <form>
                                        <div class="form-group"><label class="headline01">sort by</label><select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select></div>
                                        <div class="form-group"><label class="headline01">per price</label><select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select></div>
                                    </form>
                                </div>
                            </div>
                            <div class="shop-wrap-slider clearfix slick-initialized slick-slider">
                                <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 2792px; transform: translate3d(-698px, 0px, 0px);"><div class="shop_detais slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 698px;">
                                    <div  class="shop01 clearfix">
                                        <div class="shop-img">
                                            <div class="bgimg" style="background:url(images/product/product01.jpg)"></div>
                                        </div>
                                        <div class="shop_info"><h4 class="headline01"><a href="product-details.html" tabindex="-1">
                                            club</a></h4>
    
                                            <div class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae impedit
                                                quod sit quam consequuntur aperiam voluptatem asperiores quae dicta
                                                recusandae omnis aut sed, blanditiis cumque quos unde sequi, molestias
                                                deleniti.</p>
    
                                            <div class="headline01">$199</div>
                                            <div class="addcart-wrap"><a href="#" class="btn-addcart addToCart" data-productid="5" data-productname="soccer club" data-productprice="199" data-productimage="images/product/product01.jpg" tabindex="-1">add to
                                                cart</a> <a href="#" class="btn-fav" tabindex="-1">add to wish list</a></div>
                                        </div>
                                    </div>
                                    
                                </div><div class="shop_detais slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide00" style="width: 698px;">
                                   
                                    <div *ngFor="let terrain of terrains" class="shop01 clearfix">
                                        <div class="shop-img">
                                            <div class="bgimg" ><img [src]="terrain?.picByte" alt="image"></div>
                                        </div>
                                        <div class="shop_info"><h4 class="headline01"><a href="product-details.html" tabindex="-1">{{terrain.description}}
                                            </a></h4>
    
                                            <div class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae impedit
                                                quod sit quam consequuntur aperiam voluptatem asperiores quae dicta
                                                recusandae omnis aut sed, blanditiis cumque quos unde sequi, molestias
                                                deleniti.</p>
    
                                            <div class="headline01">{{terrain.prix}} Dh/h</div>
                                            <div class="addcart-wrap"><a href="#" class="btn-addcart addToCart" data-productid="5" data-productname="soccer club" data-productprice="199" data-productimage="images/product/product01.jpg" tabindex="-1">add to
                                                cart</a> <a href="#" class="btn-fav" tabindex="-1">add to wish list</a></div>
                                        </div>
                                    </div>
                                    
                                   
                                </div><div class="shop_detais slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 698px;">
                                  
                                   
                                    
                                
                                </div><div class="shop_detais slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 698px;">
                                    
                                    
                                   
                                    
                                </div></div></div>
                                
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
      
    </div>
    
    
    
    </body>